<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt=""
        width="397px"
        height="250px"
        >
    </div>
    <div class="big-card__title">
        <a href="#"><h1>Saiu a nova versão do Angular</h1></a>

    </div>
    <div class="big-card__description">
        <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla qui minima error eos quidem, at laudantium doloribus in ut saepe recusandae.
        </a>
    </div>
</div>
